*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit; //color will be the parent color 
}

body{
    font-family: 'Lato', sans-serif;
    overflow: hidden;
}